# Rust
/target/

# JetBrains Plugin
plugin/.gradle/
plugin/.intellijPlatform/
plugin/.kotlin/
plugin/build/
plugin/src/main/resources/bin/

# IDE
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db
*.stackdump
